.search {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: #ededed;
  z-index: 1050;
  color: #282828;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.search-wrapper-form {
  width: 100%;
}

.search-wrapper-form > input[type="text"] {
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  color: #282828;
  font-size: 1.6rem;
  border-bottom: 1.5px solid #282828;
  background-color: transparent;
}

.search-wrapper-form > input[type="text"]::placeholder {
  font-size: 1.6rem;
  color: #282828;
}

.search-wrapper-close .closeIcon {
  cursor: pointer;
  font-size: 3rem;
}

@media screen and (max-width: 48em) {
  .search {
    padding: 3rem 0;
  }
  .search-wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 37.5em) {
  .search {
    padding: 2rem 0;
  }
  .search-wrapper {
    width: 80%;
  }
  .search-wrapper-form {
    width: 100%;
  }
  .search-wrapper-form > input[type="text"] {
    font-size: 1.2rem;
    padding: 0.5rem;
  }
  .search-wrapper-form > input[type="text"]::placeholder {
    font-size: 1.2rem;
  }
  .search-wrapper-close .closeIcon {
    font-size: 2rem;
  }
}
