.message {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  row-gap: 0.2rem;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageTop-user .messageImg {
  display: none;
}

.message.own .messageTop-user .messageUsername {
  width: 100%;
  text-align: right;
}

.message.own .messageTop .messageText {
  background-color: #e0e0e0;
  color: black;
}

.message .messageTop {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.message .messageTop-user {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.message .messageTop-user .messageImg {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.message .messageTop .messageText {
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: #8aa1a1;
  color: white;
  width: max-content;
  max-width: 30rem;
}

.message .messageBottom {
  padding-left: 0.7rem;
  font-size: 1.3rem;
}
