.mypageSidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.mypageSidebar-item {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.mypageSidebar-item .title {
  font-size: 1.7rem;
  font-weight: 500;
}

.mypageSidebar-item .content {
  color: #aaa;
  line-height: 2.4rem;
}

.mypageSidebar-item .content .selected {
  color: #000;
}

@media screen and (max-width: 64em) {
  .mypageSidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 37.5em) {
  .mypageSidebar {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .mypageSidebar .title {
    font-size: 1.4rem;
  }
  .mypageSidebar .content {
    line-height: 2rem;
  }
}
