.signup {
  width: 100vw;
  font-size: 1.4rem;
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.signup-title {
  text-align: center;
}

.signup-title > h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.signup-wrapper {
  display: flex;
  flex-direction: column;
  width: 40rem;
  font-weight: 600;
}

.signup-wrapper .signupForm {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.signup-wrapper .signupForm-item {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.signup-wrapper .signupForm-item > input {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
  background-color: #fff;
  color: #282828;
  font-size: 1.4rem;
}

.signup-wrapper .signupForm-item .passwordResult {
  color: crimson;
  font-size: 1.2rem;
  font-weight: normal;
}

.signup-wrapper .signupForm-item .matchResult {
  font-size: 1.2rem;
  color: #aaa;
  font-weight: normal;
}

.signup-wrapper .signupForm-item-term {
  text-align: center;
  font-size: 1.3rem;
}

.signup-wrapper .signupForm-item-term .term-check {
  padding: 1rem;
  border: 1px solid #ccc;
}

.signup-wrapper .signupForm-item-term .term-check > span {
  color: royalblue;
  cursor: pointer;
}

.signup-wrapper .signupForm-item-term .term-check > input[type=checkbox] {
  margin-left: 0.5rem;
  cursor: pointer;
  transform: translateY(0.1rem);
}

.signup-wrapper .signupForm-item-term .term-info {
  border: 1px solid #ccc;
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 20vh;
  overflow: scroll;
}

.signup-wrapper .signupForm-item-term .term-unchecked {
  margin-top: 0.3rem;
  text-align: left;
  color: crimson;
  font-weight: normal;
}

.signup-wrapper .signupForm > button {
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  padding: 1.5rem;
  border: none;
  outline: none;
  background-color: #aaa;
  border-radius: 0.3rem;
  color: #fff;
  transition: background 0.2s ease;
  cursor: pointer;
}

.signup-wrapper .signupForm > button:hover {
  background: #8aa1a1;
}

@media screen and (max-width: 48em) {
  .signup {
    padding: 5rem 0;
    font-size: 1.3rem;
  }
  .signup-title > h3 {
    font-size: 2rem;
  }
  .signup-wrapper {
    width: 80%;
  }
  .signup-wrapper .signupForm-item > input {
    font-size: 1.3rem;
  }
  .signup-wrapper .signupForm-item .passwordResult {
    font-size: 1.1rem;
  }
  .signup-wrapper .signupForm-item .matchResult {
    font-size: 1.1rem;
  }
  .signup-wrapper .signupForm-item-term {
    font-size: 1.2rem;
  }
  .signup-wrapper .signupForm > button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .signup {
    padding: 2rem 0;
    font-size: 1.1rem;
  }
  .signup-title > h3 {
    font-size: 1.7rem;
  }
  .signup-wrapper {
    width: 80%;
  }
  .signup-wrapper .signupForm-item > input {
    font-size: 1.1rem;
  }
  .signup-wrapper .signupForm-item .passwordResult {
    font-size: 1rem;
  }
  .signup-wrapper .signupForm-item .matchResult {
    font-size: 1rem;
  }
  .signup-wrapper .signupForm-item-term {
    font-size: 1.1rem;
  }
  .signup-wrapper .signupForm-item-term .term-check {
    padding: .7rem;
  }
  .signup-wrapper .signupForm > button {
    padding: 1rem;
    font-size: 1.1rem;
  }
}
