.reviewList {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100vw;
  font-size: 1.4rem;
  margin: 0 auto;
}

.reviewList-title {
  width: 80%;
  margin: 0 auto;
  color: #aaa;
}

.reviewList-content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.reviewList-content-avg {
  color: #8aa1a1;
}

.reviewList-content-avg .icon {
  transform: translateY(0.2rem);
}

.reviewList-content-detail {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ccc;
}

.reviewList-content-detail .detailWrapper {
  display: flex;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.reviewList-content-detail .detailWrapper-left {
  width: 75%;
  padding-right: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.reviewList-content-detail .detailWrapper-left-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #666;
}

.reviewList-content-detail .detailWrapper-left-top .icon {
  transform: translateY(0.2rem);
}

.reviewList-content-detail .detailWrapper-left-comment {
  padding: 1rem 0;
}

.reviewList-content-detail .detailWrapper-left-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.4fr;
  gap: 1rem;
}

.reviewList-content-detail .detailWrapper-left-img-wrapper {
  width: 100%;
  height: 25rem;
  cursor: pointer;
}

.reviewList-content-detail .detailWrapper-left-img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewList-content-detail .detailWrapper-left-img-wrapper:hover {
  opacity: 0.4;
  background-color: rgba(0, 0, 0, 0.4);
}

.reviewList-content-detail .detailWrapper-left-img-more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.reviewList-content-detail .detailWrapper-userInfo {
  width: 25%;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  color: #666;
}

.reviewList-content-detail .detailWrapper-userInfo > p:first-child {
  font-weight: 600;
  color: #000;
}

@media screen and (max-width: 64em) {
  .reviewList {
    padding-top: 5rem;
  }
  .reviewList-content-detail .detailWrapper-left-img-wrapper {
    height: 13rem;
  }
}

@media screen and (max-width: 48em) {
  .reviewList {
    font-size: 1.3rem;
    padding-top: 2rem;
  }
  .reviewList-title > h2 {
    font-size: 1.7rem;
  }
  .reviewList-content-detail .detailWrapper-left {
    padding-right: 2rem;
  }
  .reviewList-content-detail .detailWrapper-left-img-wrapper {
    height: 10rem;
  }
  .reviewList-content-detail .detailWrapper-left-img-more {
    font-size: 1.5rem;
  }
  .reviewList-content-detail .detailWrapper-userInfo {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 37.5em) {
  .reviewList {
    font-size: 1.1rem;
    padding-top: 2rem;
    row-gap: 1rem;
  }
  .reviewList-title > h2 {
    font-size: 1.5rem;
  }
  .reviewList-content-detail .detailWrapper {
    padding: 1rem 0;
  }
  .reviewList-content-detail .detailWrapper-left {
    width: 100%;
    padding-right: 0;
  }
  .reviewList-content-detail .detailWrapper-left-img-wrapper {
    height: 7rem;
  }
  .reviewList-content-detail .detailWrapper-left-img-more {
    font-size: 1.2rem;
  }
  .reviewList-content-detail .detailWrapper-userInfo {
    display: none;
  }
}
