.orders {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.orders-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.orders-content .orders-item {
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.orders-content .orders-item-number {
  padding: 1rem;
}

.orders-content .orders-item-number:hover {
  font-weight: 600;
  cursor: pointer;
}

.orders-content .orders-item-number .icon {
  transform: translateY(0.2rem);
}

.orders-content .orders-item-detail {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}

.orders-content .orders-item-detail .left {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.orders-content .orders-item-detail .left .img {
  flex-shrink: 0;
  width: 7rem;
  height: 8rem;
}

.orders-content .orders-item-detail .left .img > img {
  width: 100%;
  height: 100%;
}

.orders-content .orders-item-detail .left .paymentInfo {
  text-transform: uppercase;
  line-height: 2rem;
}

.orders-content .orders-item-detail .left .paymentInfo > p:nth-child(3) {
  color: #aaa;
}

.orders-content .orders-item-detail .left .paymentInfo > p:last-child {
  color: #8aa1a1;
}

.orders-content .orders-item-detail .right > button {
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  font-size: 1.4rem;
  border: 1px solid #aaa;
  background-color: #fff;
  color: #aaa;
}

@media screen and (max-width: 48em) {
  .orders {
    row-gap: 1rem;
  }
  .orders-title > h2 {
    font-size: 1.7rem;
  }
  .orders-content .orders-item-detail .right > button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .orders-content .orders-item-number {
    padding: 0.5rem;
  }
  .orders-content .orders-item-number .icon {
    font-size: 1.3rem;
  }
  .orders-content .orders-item-detail {
    padding: 0 0.5rem;
    padding-bottom: 0.5rem;
  }
  .orders-content .orders-item-detail .left .img {
    width: 5rem;
    height: 6rem;
  }
  .orders-content .orders-item-detail .left .paymentInfo {
    line-height: 1.6rem;
  }
  .orders-content .orders-item-detail .right > button {
    font-size: 1.1rem;
    padding: 0.4rem 0.6rem;
  }
}
