.mypage-top {
  width: 100%;
  display: flex;
  column-gap: 3rem;
  padding-bottom: 5rem;
  border-bottom: 1px solid #ccc;
}

.mypage-top-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mypage-top-left > p {
  color: #aaa;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.mypage-top-right {
  padding: 2rem 0;
  width: 80%;
}

.mypage-top-right .userInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
}

.mypage-top-right .userInfo-item > span {
  margin-right: 1rem;
}

.mypage-top-right .userInfo-item > span:nth-child(2) {
  font-size: 1.6rem;
}

.mypage-top-right .userInfo-item .icon {
  transform: translateY(0.2rem);
  color: #aaa;
  cursor: pointer;
}

@media screen and (max-width: 64em) {
  .mypage-top {
    flex-direction: column;
    column-gap: 0;
    padding-bottom: 2rem;
  }
  .mypage-top-left {
    width: 100%;
  }
  .mypage-top-right {
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .mypage-top-left > h1 {
    font-size: 2rem;
  }
  .mypage-top-right {
    padding: 1rem 0;
  }
  .mypage-top-right .userInfo-item > span:nth-child(2) {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 37.5em) {
  .mypage-top {
    padding-bottom: 1rem;
  }
  .mypage-top-left > h1 {
    font-size: 1.7rem;
  }
  .mypage-top-right .userInfo {
    grid-template-columns: 1fr;
  }
  .mypage-top-right .userInfo-item > span:nth-child(2) {
    font-size: 1.3rem;
  }
  .mypage-top-right .userInfo-item .icon {
    font-size: 1.3rem;
  }
}
