.signinForm-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 0 auto;
  padding: 15rem 0;
  align-items: center;
  font-size: 1.4rem;
}

.signinForm-container .signinForm-title > h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.signinForm-container .signinForm-wrapper {
  width: 30rem;
}

.signinForm-container .signinForm-wrapper .signinForm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box {
  position: relative;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 25px 0 5px 0;
  font-size: 1.4rem;
  width: 100%;
  outline: none;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input::placeholder {
  color: transparent;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input + label {
  position: absolute;
  color: #aaa;
  font-size: 1.4rem;
  top: 2.4rem;
  left: 0;
  transition: top 0.2s ease;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input:not(:placeholder-shown) + label,
.signinForm-container .signinForm-wrapper .signinForm .form-box > input:focus + label {
  color: #8aa1a1;
  font-size: 1.3rem;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0.2rem;
}

.signinForm-container .signinForm-wrapper .signinForm > button {
  margin-top: 1rem;
  padding: 1rem 0;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signinForm-container .signinForm-wrapper .signinForm > button:hover {
  background-color: #8aa1a1;
}

@media screen and (max-width: 48em) {
  .signinForm-container {
    padding: 5rem 0;
    font-size: 1.3rem;
  }
  .signinForm-container .signinForm-title > h3 {
    font-size: 2rem;
  }
  .signinForm-container .signinForm-wrapper .signinForm .form-box > input {
    font-size: 1.3rem;
  }
  .signinForm-container .signinForm-wrapper .signinForm .form-box > input + label {
    font-size: 1.3rem;
  }
  .signinForm-container .signinForm-wrapper .signinForm > button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .signinForm-container {
    font-size: 1.1rem;
    row-gap: 1rem;
  }
  .signinForm-container .signinForm-title > h3 {
    font-size: 1.7rem;
  }
  .signinForm-container .signinForm-wrapper .signinForm .form-box > input {
    font-size: 1.1rem;
  }
  .signinForm-container .signinForm-wrapper .signinForm .form-box > input + label {
    font-size: 1.1rem;
  }
  .signinForm-container .signinForm-wrapper .signinForm > button {
    font-size: 1.1rem;
  }
}
