input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 1.4rem;
}

.product-left {
  width: 55%;
  display: flex;
}

.product-left-img {
  display: grid;
  width: 9%;
  height: 9%;
  row-gap: 0.2rem;
}

.product-left-img .img-wrapper {
  display: flex;
  border: 1px solid #ccc;
}

.product-left-img .img-wrapper > img {
  width: 100%;
  height: auto;
}

.product-left-mainImg {
  width: 88%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.product-left-mainImg > img {
  width: 100%;
  height: auto;
}

.product-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-transform: uppercase;
}

.product-right .brand-button {
  width: max-content;
  color: #aaa;
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
}

.product-right-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-right-name {
  font-size: 2rem;
}

.product-right-price {
  font-size: 2rem;
}

.product-right-price .hasDiscount {
  text-decoration: line-through;
}

.product-right-price p > span {
  color: #FF0000;
}

.product-right-desc {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.product-right-desc .descMenu {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.product-right-desc .desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.product-right-desc .desc.descOpen {
  max-height: 20rem;
}

.product-right-color {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.product-right-color .color-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.product-right-color .color-wrapper .img-wrapper {
  display: flex;
  align-items: center;
}

.product-right-color .color-wrapper .img-wrapper > img {
  width: 100%;
  height: auto;
}

.product-right-size {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.product-right-size .selection {
  background-color: #fff;
  color: #353535;
  padding: 1.2rem 0.5rem;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
}

.product-right-size .selection-info {
  color: #353535;
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}

.product-right-size .selection-info-qty {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.product-right-size .selection-info-qty .qty {
  display: flex;
  column-gap: 1rem;
}

.product-right-size .selection-info-qty .qty > input {
  font-size: 1.4rem;
  text-align: center;
  width: max-content;
  width: 2.5rem;
  border: none;
}

.product-right-size .selection-info-qty .qty > button {
  padding: 0 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  background-color: #fff;
}

.product-right-button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.product-right-button .cart-alert {
  padding: 1.5rem 0;
  width: 80%;
  height: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.7rem;
  border: 1.5px solid #8aa1a1;
  background-color: #fff;
  top: -10rem;
}

.product-right-button .cart-alert-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.product-right-button .cart-alert > button {
  cursor: pointer;
  outline: none;
  border: 1px solid #8aa1a1;
  color: #8aa1a1;
  background-color: #fff;
  padding: 0.3rem;
}

.product-right-button .cart-alert::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  border-top: 1.5rem solid #8aa1a1;
  border-right: 1.5rem solid transparent;
  border-bottom: 1.5rem solid transparent;
  border-left: 1.5rem solid transparent;
}

.product-right-button .purchase, .product-right-button .cart {
  width: 100%;
  cursor: pointer;
  padding: 1rem;
  border: none;
  background-color: #8aa1a1;
  color: #fff;
  transition: background-color 0.2s ease;
}

.product-right-button .purchase:hover, .product-right-button .cart:hover {
  background-color: #353535;
}

.product-right-button .cart {
  background-color: #aaa;
}

.product-right-button .cart:hover {
  background-color: #353535;
}

@media screen and (max-width: 64em) {
  .product {
    flex-direction: column;
    padding: 5rem 0;
  }
  .product-left {
    width: 100%;
    flex-direction: column-reverse;
    row-gap: 1rem;
  }
  .product-left-img {
    grid-template-columns: repeat(10, 1fr);
    flex-direction: row;
    column-gap: 0.3rem;
    width: 80%;
    margin: 0 auto;
  }
  .product-left-mainImg {
    width: 80%;
    margin: 0 auto;
  }
  .product-right {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 48em) {
  .product {
    font-size: 1.3rem;
  }
  .product-right .brand-button {
    font-size: 1.3rem;
  }
  .product-right-brand {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .product-right-name {
    font-size: 1.5rem;
  }
  .product-right-price {
    font-size: 1.5rem;
  }
  .product-right-size .selection {
    padding: 0.5rem 0.3rem;
    font-size: 1.3rem;
  }
  .product-right-button .cart-alert {
    top: -9rem;
  }
  .product-right-button .cart-alert > button {
    font-size: 1.3rem;
  }
  .product-right-button .cart-alert-close .closeIcon {
    font-size: 1.5rem;
  }
  .product-right-button .purchase, .product-right-button .cart {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .product {
    padding: 1rem 0;
    flex-direction: column;
    font-size: 1.1rem;
  }
  .product-left {
    width: 100%;
    flex-direction: column-reverse;
    row-gap: 0.5rem;
  }
  .product-left-img {
    grid-template-columns: repeat(7, 1fr);
  }
  .product-left-mainImg {
    width: 80%;
    margin: 0 auto;
  }
  .product-right {
    row-gap: 1rem;
  }
  .product-right .brand-button {
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
  }
  .product-right-brand {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .product-right-name {
    font-size: 1.3rem;
  }
  .product-right-price {
    font-size: 1.3rem;
  }
  .product-right-size .selection {
    padding: 0.5rem 0.3rem;
    font-size: 1.1rem;
  }
  .product-right-button .cart-alert {
    top: -9rem;
  }
  .product-right-button .cart-alert > button {
    font-size: 1.1rem;
  }
  .product-right-button .cart-alert-close .closeIcon {
    font-size: 1.2rem;
  }
  .product-right-button .purchase, .product-right-button .cart {
    font-size: 1.1rem;
    padding: 0.5rem;
  }
}
