.brands-container {
  margin-top: 2rem;
  padding: 5rem 14rem;
  font-size: 1.5rem;
}

.brands-container .brands-wrapper {
  padding-top: 3rem;
  width: 90%;
  margin: 0 auto;
}

.brands-container .brands-wrapper .brands-img {
  width: 100%;
}

.brands-container .brands-wrapper .brands-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.brands-container .brands-wrapper .brands-info {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  row-gap: 1rem;
  line-height: 2.4rem;
}

.brands-container .brands-wrapper .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
  padding: 1rem 0;
  border-bottom: 1px solid #ededed;
}

.brands-container .brands-wrapper .top-left, .brands-container .brands-wrapper .top-right {
  display: flex;
  column-gap: 1rem;
}

.brands-container .brands-wrapper .top-left .filter, .brands-container .brands-wrapper .top-right .filter {
  display: none;
  align-items: center;
}

.brands-container .brands-wrapper .top-left .sort, .brands-container .brands-wrapper .top-right .sort {
  height: 100%;
}

.brands-container .brands-wrapper .top-left .sort > select, .brands-container .brands-wrapper .top-right .sort > select {
  border: none;
  height: 100%;
  width: 8rem;
  font-size: 1.4rem;
}

.brands-container .brands-wrapper .top-left .grid-icon, .brands-container .brands-wrapper .top-right .grid-icon {
  cursor: pointer;
  font-size: 1.7rem;
}

.brands-container .brands-wrapper .top-left .grid-icon:last-child, .brands-container .brands-wrapper .top-right .grid-icon:last-child {
  transform: scale(1.1);
}

.brands-container .brands-wrapper .top-left .grid-icon.selected, .brands-container .brands-wrapper .top-right .grid-icon.selected {
  color: darkgray;
}

.brands-container .brands-wrapper .products-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 5rem;
  position: relative;
  z-index: 100;
  padding: 2rem;
}

.brands-container .brands-wrapper .products-wrapper.selected {
  grid-template-columns: repeat(3, 1fr);
}
