.cart-container {
  width: 100vw;
  padding: 15rem 0;
  font-size: 1.4rem;
}

.cart-container .cart-wrapper {
  height: 100%;
  width: 48%;
  margin: auto;
}

.cart-container .cart-wrapper .cart-title {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.cart-container .cart-wrapper .cart-title > h2 {
  font-size: 2.2rem;
  font-weight: 600;
  transform: translateX(0.5rem);
}

.cart-container .cart-wrapper .cart-total {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.cart-container .cart-wrapper .cart-total-item {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
}

.cart-container .cart-wrapper .cart-total-item > h4 {
  font-weight: 600;
}

.cart-container .cart-wrapper .cart-button {
  display: flex;
  justify-content: flex-end;
}

.cart-container .cart-wrapper .cart-button > button {
  border: 1.5px solid #8aa1a1;
  color: #8aa1a1;
  background: #fff;
  padding: 0.7rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.cart-container .cart-wrapper .cart-button > button:hover {
  color: #aaa;
  border-color: #aaa;
}

.cart-container .cart-wrapper .cart-button > button:last-child {
  margin-right: 0;
}

.cart-container .cart-wrapper .checkout-button {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.cart-container .cart-wrapper .checkout-button-general, .cart-container .cart-wrapper .checkout-button-back {
  width: 65%;
  padding: 1.5rem;
  border: none;
  background-color: #aaa;
  color: #fff;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.cart-container .cart-wrapper .checkout-button-general:hover, .cart-container .cart-wrapper .checkout-button-back:hover {
  background-color: #8aa1a1;
}

.cart-container .cart-wrapper .checkout-button-back {
  width: 34%;
  color: #fff;
  background-color: #8aa1a1;
}

.cart-container .cart-wrapper .checkout-button-back:hover {
  background-color: #aaa;
}

@media screen and (max-width: 64em) {
  .cart-container .cart-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 48em) {
  .cart-container {
    padding: 5rem 0;
  }
  .cart-container .cart-wrapper {
    width: 90%;
  }
}
