.checkout-container {
  width: 100vw;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #282828;
}

.checkout-container .checkout-title {
  width: 48%;
  margin: 0 auto;
  padding: 1rem 0;
}

.checkout-container .checkout-title > h2 {
  font-size: 2.2rem;
  font-weight: 600;
}

.checkout-container .checkout-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  height: 100%;
  width: 48%;
  margin: auto;
}

.checkout-container .checkout-wrapper-product, .checkout-container .checkout-wrapper-buyer, .checkout-container .checkout-wrapper-shipping {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
}

.checkout-container .checkout-wrapper-product .product-title, .checkout-container .checkout-wrapper-buyer .product-title, .checkout-container .checkout-wrapper-shipping .product-title, .checkout-container .checkout-wrapper-buyer .buyer-title, .checkout-container .checkout-wrapper-shipping .shipping-title {
  padding: 1rem 0.5rem;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

.checkout-container .checkout-wrapper-product .product-title > h3, .checkout-container .checkout-wrapper-buyer .product-title > h3, .checkout-container .checkout-wrapper-shipping .product-title > h3, .checkout-container .checkout-wrapper-buyer .checkout-wrapper-product .buyer-title > h3, .checkout-container .checkout-wrapper-buyer .buyer-title > h3, .checkout-container .checkout-wrapper-buyer .checkout-wrapper-shipping .buyer-title > h3, .checkout-container .checkout-wrapper-shipping .checkout-wrapper-product .shipping-title > h3, .checkout-container .checkout-wrapper-shipping .checkout-wrapper-buyer .shipping-title > h3, .checkout-container .checkout-wrapper-shipping .shipping-title > h3 {
  font-weight: 600;
}

.checkout-container .checkout-wrapper-product .product-total-item, .checkout-container .checkout-wrapper-buyer .product-total-item, .checkout-container .checkout-wrapper-shipping .product-total-item {
  padding: 0.7rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

.checkout-container .checkout-wrapper-product .product-total-item > h4, .checkout-container .checkout-wrapper-buyer .product-total-item > h4, .checkout-container .checkout-wrapper-shipping .product-total-item > h4 {
  font-weight: 600;
}

.checkout-container .checkout-wrapper-buyer .buyer-info {
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 2rem 1rem;
  row-gap: 2.5rem;
  align-items: center;
}

.checkout-container .checkout-wrapper-buyer .buyer-info-left {
  font-size: 1.4rem;
  font-weight: 600;
}

.checkout-container .checkout-wrapper-shipping .shipping-content {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  row-gap: 2rem;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item {
  display: flex;
  align-items: center;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-left {
  padding: 0.7rem 0;
  width: 20%;
  font-size: 1.4rem;
  font-weight: 600;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right {
  width: 75%;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > input {
  padding: 0.7rem;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > input.pincode {
  width: 25%;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > input.explain {
  width: 90%;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > button {
  margin-left: 0.5rem;
  padding: 0.8rem 1.5rem;
  background-color: #aaa;
  border: none;
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > button > span {
  font-size: 1.2rem;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > button:hover {
  background-color: #8aa1a1;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item .shipping-selection {
  display: flex;
  column-gap: 2rem;
  flex-flow: row wrap;
  font-size: 1.3rem;
  row-gap: 1rem;
  width: 75%;
}

.checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item .shipping-selection input[type="radio"] {
  margin-right: 0.3rem;
  transform: scale(1.2) translateY(0.2rem);
  accent-color: #898989;
}

@media screen and (max-width: 64em) {
  .checkout-container .checkout-title {
    width: 70%;
  }
  .checkout-container .checkout-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 48em) {
  .checkout-container {
    padding: 5rem 0;
  }
  .checkout-container .checkout-title {
    width: 90%;
  }
  .checkout-container .checkout-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 48em) {
  .checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-left {
    width: 25%;
  }
  .checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > input.pincode {
    width: 30%;
  }
  .checkout-container .checkout-wrapper-shipping .shipping-content .shipping-item-right > input.explain {
    width: 90%;
  }
}
