.lookbooks-container {
  margin-top: 2rem;
  padding: 5rem 12rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  font-size: 1.4rem;
}

.lookbooks-container .lookbooks-items {
  width: 100%;
  margin: 0 auto;
}

.lookbooks-container .lookbooks-items > img {
  width: 100%;
}

@media screen and (max-width: 64em) {
  .lookbooks-container {
    padding: 5rem 10rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 48em) {
  .lookbooks-container {
    padding: 3rem 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 37.5em) {
  .lookbooks-container {
    padding: 3rem 2rem;
    grid-template-columns: 1fr;
  }
}
