.signinForm-container {
  width: 100vw;
  height: calc(80vh - $headerHeight);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

.signinForm-container .signinForm-title > h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

.signinForm-container .signinForm-wrapper {
  width: 30rem;
}

.signinForm-container .signinForm-wrapper .signinForm {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box {
  position: relative;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input {
  background-color: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 25px 0 5px 0;
  font-size: 1.4rem;
  width: 100%;
  outline: none;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input::placeholder {
  color: transparent;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input + label {
  position: absolute;
  color: #aaa;
  font-size: 1.4rem;
  top: 2.4rem;
  left: 0;
  transition: top 0.2s ease;
}

.signinForm-container .signinForm-wrapper .signinForm .form-box > input:not(:placeholder-shown) + label,
.signinForm-container .signinForm-wrapper .signinForm .form-box > input:focus + label {
  color: #8aa1a1;
  font-size: 1.3rem;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0.2rem;
}

.signinForm-container .signinForm-wrapper .signinForm > button {
  margin-top: 1rem;
  padding: 1rem 0;
  border: none;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.signinForm-container .signinForm-wrapper .signinForm > button:hover {
  background-color: #8aa1a1;
}

.signinForm-container .navigate-wrapper {
  display: flex;
  width: 30rem;
  justify-content: flex-end;
  font-size: 1.3rem;
}

.signinForm-container .navigate-wrapper .navigate-item {
  padding: 0 0.5rem;
  color: #000;
  transition: color 0.2s ease;
  cursor: pointer;
}

.signinForm-container .navigate-wrapper .navigate-item:hover {
  color: #8aa1a1;
}

.signinForm-container .navigate-wrapper .navigate-item:last-child {
  border-left: 1px solid #aaa;
  padding-right: 0;
}

@media screen and (max-width: 37.5em) {
  .signinForm-container {
    height: calc(50vh - $headerHeight);
  }
}
