.contact {
  font-size: 1.4rem;
  width: 70%;
  padding: 7rem 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.contact-list {
  position: relative;
}

.contact-list-bar {
  position: absolute;
  width: 5px;
  height: 110rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e0e0e0;
}

.contact-list li {
  margin-bottom: 8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.contact-list li:last-child {
  margin-bottom: 0;
}

.contact-list li .text {
  width: 42%;
  text-align-last: center;
}

.contact-list li .text > h2 {
  font-size: 2.6rem;
  margin-bottom: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  font-family: "Roboto Slab";
}

.contact-list li .text > p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.contact-list li .img {
  width: 50%;
  position: relative;
  z-index: 1;
  padding: 8rem 0;
}

.contact-list li .img::before {
  content: "";
  width: 80%;
  height: 100%;
  background-color: #daeff8;
  position: absolute;
  top: 0;
  right: -8rem;
  z-index: -1;
}

.contact-list li .img > img {
  width: 100%;
}

.contact-list li.left {
  flex-direction: row-reverse;
}

.contact-list li.left .img::before {
  left: -8rem;
  background-color: #e6fbf9;
}

.contact-list li:nth-child(3) .img::before {
  background-color: #e6edfb;
}

.contact .team {
  display: flex;
  flex-direction: column;
  row-gap: 5rem;
  padding-top: 8rem;
}

.contact .team-title {
  text-align: center;
}

.contact .team-title > h2 {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-family: "Roboto Slab";
}

.contact .team-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 5rem;
  text-align: center;
}

.contact .team-wrapper-person > img {
  width: 100%;
}

.contact .team-wrapper-person > p {
  font-size: 2rem;
}

@media screen and (max-width: 64em) {
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .contact-list-bar {
    display: none;
  }
  .contact-list li .text {
    width: 100%;
  }
  .contact-list li .img {
    display: none;
  }
}

@media screen and (max-width: 48em) {
  .contact-list li .text {
    width: 100%;
  }
  .contact-list li .text > h2 {
    font-size: 2rem;
  }
  .contact-list li .text > p {
    font-size: 1.5rem;
  }
  .contact .team-title > h2 {
    font-size: 2.3rem;
  }
  .contact .team-wrapper-person > p {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 37.5em) {
  .contact-list li .text {
    width: 100%;
  }
  .contact-list li .text > h2 {
    font-size: 1.7rem;
  }
  .contact-list li .text > p {
    font-size: 1.2rem;
  }
  .contact .team-title > h2 {
    font-size: 2rem;
  }
  .contact .team-wrapper-person > p {
    font-size: 1.3rem;
  }
}
