.header-container {
  height: 60px;
  width: 100vw;
  position: relative;
}

.header-container .logo-wrapper {
  font-size: 1.4rem;
  position: absolute;
  z-index: 10;
  height: max-content;
  width: max-content;
  left: 50%;
  top: 46%;
  transform: translate(-50%, -50%);
}

.header-container .logo-wrapper h1 {
  cursor: pointer;
  font-family: "Sansita", sans-serif;
}

.header-container .navbar-container {
  font-size: 1.6rem;
  position: relative;
  z-index: 8;
  height: 100%;
  margin: 0 2rem;
}

.header-container .navbar-container .navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-container .navbar-container .navbar-wrapper .navbar-items {
  display: flex;
  align-items: center;
  height: inherit;
  column-gap: 1.5rem;
}

.header-container .navbar-container .navbar-wrapper .navbar-items-lg {
  display: none;
}

.header-container .navbar-container .navbar-wrapper .navbar-items .navbar-item {
  width: 100%;
  height: max-content;
  position: relative;
  cursor: pointer;
}

.header-container .navbar-container .navbar-wrapper .navbar-items .navbar-item-cart-counter {
  background-color: #eee;
  position: absolute;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  font-size: 0.9em;
  right: -8px;
  top: -10px;
}

@media screen and (max-width: 64em) {
  .header-container .navbar-container .navbar-wrapper .navbar-items {
    display: none;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg {
    display: block;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .menuOpen-btn {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .menuOpen-btn .menuLine {
    width: inherit;
    border: 0.5px solid #000;
    opacity: 1;
    position: relative;
    transition: opacity 0.2s linear;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .menuOpen-btn .menuLine:nth-child(2)::before {
    content: '';
    width: 100%;
    height: inherit;
    border: 0;
    position: absolute;
    transition: transform 0.2s linear;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .menuOpen-btn .menuLine:nth-child(2)::after {
    content: '';
    width: 100%;
    height: inherit;
    border: 0;
    position: absolute;
    transition: transform 0.2s linear;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg.opened .menuOpen-btn .menuLine:first-child, .header-container .navbar-container .navbar-wrapper .navbar-items-lg.opened .menuOpen-btn .menuLine:last-child {
    opacity: 0;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg.opened .menuOpen-btn .menuLine:nth-child(2) {
    border: 0;
    transition: opacity 3s;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg.opened .menuOpen-btn .menuLine:nth-child(2)::before {
    content: '';
    width: 100%;
    height: inherit;
    border: 0.5px solid #000;
    position: absolute;
    transform: rotate(45deg);
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg.opened .menuOpen-btn .menuLine:nth-child(2)::after {
    content: '';
    width: 100%;
    height: inherit;
    border: 0.5px solid #000;
    position: absolute;
    transform: rotate(-45deg);
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .search-icon-wrapper {
    display: flex;
    cursor: pointer;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .search-icon-wrapper .search-icon {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 48em) {
  .header-container .logo-wrapper {
    font-size: 1.1rem;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .menuOpen-btn {
    width: 1.4rem;
    height: 1.2rem;
  }
  .header-container .navbar-container .navbar-wrapper .navbar-items-lg .search-icon-wrapper .search-icon {
    font-size: 2rem;
  }
}
