.products-items {
  width: 100%;
  height: inherit;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1.8rem;
}

.products-items img {
  width: 100%;
  height: auto;
}

.products-items .hasDiscount {
  text-decoration: line-through;
  color: #898989;
}

.products-items .discount {
  margin-left: 0.5rem;
}
