.sidebar-container {
  font-size: 1.4rem;
  min-width: 22rem;
  display: flex;
  background-color: #fff;
  flex-direction: column;
}

.sidebar-container .categorylist-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem;
  z-index: 1000;
}

.sidebar-container .categorylist-wrapper .categoryToggleBtn-wrapper {
  display: none;
}

.sidebar-container .categorylist-wrapper .categorylist-name {
  padding: 0.9rem 0;
  border-bottom: 1px solid #ededed;
}

.sidebar-container .categorylist-wrapper .categorylist-items {
  padding: 0.5rem 0;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-head {
  display: flex;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-head .dropdown-button {
  cursor: pointer;
  padding: 0 1rem 0 0.5rem;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-head-item {
  cursor: pointer;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-head-item.category-focus {
  font-weight: bold;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-sub {
  cursor: pointer;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-sub:last-child {
  padding-bottom: 0;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-sub .categorylist-sub-items {
  margin-left: 2.5rem;
  padding-top: 1rem;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-sub .categorylist-sub-items .categorylist-sub-icon-wrapper {
  display: inline-block;
  margin-right: 1rem;
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-sub .categorylist-sub-items .categorylist-sub-icon-wrapper .categorylist-sub-icon {
  transform: translateY(0.3rem);
}

.sidebar-container .categorylist-wrapper .categorylist-items .categorylist-sub .categorylist-sub-items .categorylist-sub-icon-wrapper-un {
  padding: 0.3rem;
}

.sidebar-container .brands-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0.5rem;
}

.sidebar-container .brands-wrapper .brands-name {
  padding: 0.9rem 0;
  border-bottom: 1px solid #ededed;
}

.sidebar-container .brands-wrapper .brands-item {
  cursor: pointer;
  accent-color: #333;
  margin: 1rem 0;
}

.sidebar-container .brands-wrapper .brands-item > input {
  transform: translateY(0.1rem);
  margin-left: 0.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 64em) {
  .sidebar-container {
    display: none;
    font-size: 1.5rem;
  }
  .sidebar-container .categorylist-wrapper .categoryToggleBtn-wrapper {
    display: block;
    position: absolute;
    top: 1.4rem;
    right: 1.4rem;
    z-index: 9999;
    width: max-content;
    height: max-content;
    cursor: pointer;
  }
  .sidebar-container.filterOpen {
    display: block;
    position: fixed;
    width: 35rem;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 2rem;
  }
  .sidebar-container.filterOpen .black {
    position: fixed;
    width: calc(100vw - 35rem);
    height: 100vh;
    z-index: 1000;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 37.5em) {
  .sidebar-container.filterOpen {
    min-width: 100vw;
    padding: 5rem;
  }
  .sidebar-container .black {
    display: none;
  }
}
