.cartItem-wrapper {
  border-bottom: 1px solid #ccc;
}

.cartItem-wrapper .cartItem-name {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}

.cartItem-wrapper .cartItem-name > h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.cartItem-wrapper .cartItem-info {
  display: flex;
  padding: 0.5rem 1rem;
  padding-right: 0;
  align-items: center;
}

.cartItem-wrapper .cartItem-info .cartItem-img {
  width: 10rem;
  height: 100%;
}

.cartItem-wrapper .cartItem-info .cartItem-img > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cartItem-wrapper .cartItem-info .cartItem-detail {
  display: flex;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  align-items: center;
  justify-content: space-between;
}

.cartItem-wrapper .cartItem-info .cartItem-detail-right {
  display: flex;
}

.cartItem-wrapper .cartItem-info .cartItem-detail-right-qty {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 1rem;
}

.cartItem-wrapper .cartItem-info .cartItem-detail-right-qty .click-btn {
  cursor: pointer;
}

.cartItem-wrapper .cartItem-info .cartItem-detail-right > button {
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: #ededed;
  transition: background-color 0.2s ease;
}

.cartItem-wrapper .cartItem-info .cartItem-detail-right > button:hover {
  background-color: #aaa;
}

@media screen and (max-width: 48em) {
  .cartItem-wrapper .cartItem-name > h3 {
    font-size: 1.4rem;
  }
  .cartItem-wrapper .cartItem-detail-right > button {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .cartItem-wrapper {
    font-size: 1.1rem;
  }
  .cartItem-wrapper .cartItem-name {
    padding: 0.7rem;
  }
  .cartItem-wrapper .cartItem-name > h3 {
    font-size: calc($smFont + 1px);
  }
  .cartItem-wrapper .cartItem-info {
    padding: 0.7rem;
    padding-right: 0;
  }
  .cartItem-wrapper .cartItem-info .cartItem-img {
    width: 7rem;
  }
  .cartItem-wrapper .cartItem-detail-right-qty .click-btn {
    font-size: 1.1rem;
  }
  .cartItem-wrapper .cartItem-detail-right > button {
    font-size: 1.1rem;
  }
}
