.reviewForm {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.reviewForm-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 100%;
}

.reviewForm-form .form-item {
  display: flex;
}

.reviewForm-form .form-item-left {
  padding: 0.7rem 0;
  width: 15rem;
  font-weight: 600;
  flex-shrink: 0;
}

.reviewForm-form .form-item > input {
  padding: 0.7rem;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  color: #282828;
  font-size: 1.4rem;
  width: 19.5rem;
}

.reviewForm-form .form-item > input::placeholder {
  color: #aaa;
}

.reviewForm-form .form-item > textarea {
  width: calc(100% - 15rem);
  height: 8rem;
  padding: 0.7rem;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
}

.reviewForm-form .form-item .button-wrapper {
  display: flex;
  column-gap: 1rem;
}

.reviewForm-form .form-item .button-wrapper > button {
  width: 3.1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #aaa;
  font-size: 1.4rem;
  padding: 0.7rem;
}

.reviewForm-form .form-item .button-wrapper > button.selected {
  background-color: #282828;
  border: none;
  color: #fff;
}

.reviewForm-form .form-item-select {
  width: 19.5rem;
  border: 1px solid #ccc;
  padding: 0.7rem;
  outline: none;
  background-color: #fff;
}

.reviewForm-form .form-item .addImg {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.reviewForm-form .form-item .addImg-btn {
  width: 8rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  color: #aaa;
  font-size: 1.4rem;
  background-color: #fff;
  cursor: pointer;
}

.reviewForm-form .form-item .addImg-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.reviewForm-form .form-item .addImg-grid-imgWrapper {
  width: 100%;
  height: 10rem;
}

.reviewForm-form .form-item .addImg-grid-imgWrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewForm-form button[type="submit"] {
  padding: 1.4rem;
  font-size: 1.4rem;
  border: none;
  background-color: #aaa;
  color: #fff;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.reviewForm-form button[type="submit"]:hover {
  background-color: #8aa1a1;
}

@media screen and (max-width: 48em) {
  .reviewForm {
    row-gap: 1rem;
    font-size: 1.3rem;
  }
  .reviewForm-title > h2 {
    font-size: 1.7rem;
  }
  .reviewForm-form {
    row-gap: 1rem;
  }
  .reviewForm-form .form-item-left {
    width: 12rem;
  }
  .reviewForm-form .form-item > input {
    font-size: 1.3rem;
  }
  .reviewForm-form .form-item > textarea {
    font-size: 1.3rem;
    width: calc(100% - 12rem);
  }
  .reviewForm-form .form-item .button-wrapper > button {
    font-size: 1.3rem;
  }
  .reviewForm-form .form-item-select {
    font-size: 1.3rem;
  }
  .reviewForm-form .form-item .addImg-btn {
    font-size: 1.3rem;
  }
  .reviewForm-form button[type="submit"] {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .reviewForm {
    row-gap: 1rem;
    font-size: 1.1rem;
  }
  .reviewForm-title > h2 {
    font-size: 1.5rem;
  }
  .reviewForm-form .form-item {
    flex-direction: column;
  }
  .reviewForm-form .form-item-left {
    width: max-content;
  }
  .reviewForm-form .form-item > input {
    font-size: 1.1rem;
    width: 100%;
  }
  .reviewForm-form .form-item > textarea {
    font-size: 1.1rem;
    width: 100%;
  }
  .reviewForm-form .form-item .button-wrapper > button {
    font-size: 1.1rem;
  }
  .reviewForm-form .form-item-select {
    font-size: 1.1rem;
    width: 100%;
  }
  .reviewForm-form .form-item .addImg-btn {
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  .reviewForm-form button[type="submit"] {
    padding: 0.7rem;
    font-size: 1.1rem;
  }
}
