.tile-container {
  position: relative;
  font-size: 1.5rem;
  background-color: #fff;
  color: #000;
}

.tile-container .tile-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.tile-container .tile-background .work-background-wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  top: 0;
}

.tile-container .tile-background .work-background-wrapper .work-background:first-child {
  height: auto;
}

.tile-container .tile-background .work-background-wrapper .work-background:nth-child(2) {
  min-height: 100vh;
}

.tile-container .tile-content {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

@media screen and (max-width: 64em) {
  .tile-container .tile-background .work-background-wrapper {
    grid-template-columns: 1fr;
  }
  .tile-container .tile-background .work-background-wrapper .work-background:first-child {
    min-height: 30vh;
  }
  .tile-container .tile-background .work-background-wrapper .work-background:nth-child(2) {
    min-height: 70vh;
  }
}
