.searchResult {
  margin: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  font-size: 1.4rem;
}

.searchResult-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 80%;
  margin: 0 auto;
}

.searchResult-wrapper-info {
  display: flex;
  column-gap: 1rem;
}

.searchResult-wrapper-info .keyword {
  font-weight: bold;
}

.searchResult-wrapper-info .length {
  color: #aaa;
}

@media screen and (max-width: 64em) {
  .searchResult {
    margin: 5rem 0;
  }
}

@media screen and (max-width: 48em) {
  .searchResult {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 37.5em) {
  .searchResult {
    font-size: 1rem;
    margin: 2rem 0;
  }
  .searchResult-wrapper {
    row-gap: 1rem;
  }
}
