.collection {
  width: 100vw;
  margin: 7rem 0;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: #282828;
}

.collection-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 7rem;
}

.collection-wrapper-top {
  display: flex;
}

.collection-wrapper-top .top-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding-right: 2.5rem;
  border-right: 1px solid #ccc;
}

.collection-wrapper-top .top-left-name {
  line-height: 2.6rem;
}

.collection-wrapper-top .top-left-desc {
  font-size: 1.5rem;
}

.collection-wrapper-top .top-right {
  margin-left: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.collection-wrapper-top .top-right-item {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 64em) {
  .collection {
    margin: 5rem 0;
  }
  .collection-wrapper-top {
    flex-direction: column;
  }
  .collection-wrapper-top .top-left {
    width: 100%;
    border: unset;
    border-bottom: 1px solid #ccc;
    padding-bottom: 2rem;
    padding-right: 0;
  }
  .collection-wrapper-top .top-right {
    margin-left: 0;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 48em) {
  .collection {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .collection-wrapper-top .top-left-name {
    line-height: 2.3rem;
  }
  .collection-wrapper-top .top-left-desc {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 37.5em) {
  .collection {
    margin: 2rem 0;
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .collection-wrapper-top .top-left-name {
    line-height: 2rem;
  }
  .collection-wrapper-top .top-left-desc {
    font-size: 1.1rem;
  }
}
